# Puerto donde escuchará el servidor de WebSockets (y donde apuntará Playit.gg)
SOCKET_PORT=3000

# Ruta ABSOLUTA a la carpeta donde está tu 'run.bat' y 'server.properties'
# Ejemplo Windows: C:\Users\TuUsuario\Desktop\Server navideno
MINECRAFT_PATH=./minecraft_server

# Token de seguridad que el cliente deberá enviar para conectarse
AUTH_TOKEN=cambia_esto_por_una_clave_segura_123